* {
    outline-offset: -1px;
}

.layout-wrapper p {
    margin: 0 !important;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #ebb644;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #ebb64433;
}


.ck.ck-editor__editable_inline {
    padding: 0 !important;
}

.ck.ck-editor__editable_inline>:last-child {
    margin-bottom: 0 !important;
}

.ck.ck-editor__editable_inline>:first-child {
 margin-top: 0 !important;
}

.draggable-column {
    transition: flex-basis 0.3s ease-out;
}

@media screen and (max-width: 600px) {
    .draggable-column {
        flex-basis: 100%;
    }
    table {
        width: 100%;
    }
}

table {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
}
